---
import Scrip from "../Scrip.astro";
import TierBadge from "../TierBadge.astro";

const PLACEHOLDER_DATE = new Date("2025-01-01").toUTCString();

const tier = 5;
---

<wa-card class="shop-item" with-header with-footer appearance="filled outlined">
	<div slot="header" class="header wa-stack wa-gap-xs">
		<h2 class="wa-heading-m" data-tier={tier}>New Gun One</h2>

		<p class="wa-caption-m wa-cluster wa-gap-2xs">
			<TierBadge tier={tier} />
			<span>&bull;</span>
			<span>Pump Shotgun</span>
			<span>&bull;</span>
			<span>Barrel</span>
		</p>
	</div>

	This card has a header. You can put all sorts of things in it!

	<div slot="footer" class="footer wa-cluster wa-gap-xs">
		<wa-relative-time class="updated wa-caption-s" date={PLACEHOLDER_DATE}></wa-relative-time>

		<Scrip class="price" value={10000} />
		<Scrip class="price --old" value={10000} />
		<Scrip class="price --sale" value={10000} />
	</div>
</wa-card>

<style scoped>
	.shop-item {
		background-image: linear-gradient(to bottom right, transparent, rgba(0 0 0 / 0.2));

		&::part(header),
		&::part(body),
		&::part(footer) {
			padding: calc(var(--spacing) / 2) var(--spacing);
		}

		.header {
			span[data-tier] {
				font-weight: var(--wa-font-weight-bold);
			}

			h2 {
				&[data-tier="1"] {
					color: var(--shop-color-tier-1);
				}

				&[data-tier="2"] {
					color: var(--shop-color-tier-2);
				}

				&[data-tier="3"] {
					color: var(--shop-color-tier-3);
				}

				&[data-tier="4"] {
					color: var(--shop-color-tier-4);
				}

				&[data-tier="5"] {
					color: var(--shop-color-tier-5);
				}

				&[data-tier="6"] {
					color: var(--shop-color-tier-6);
				}
			}
		}

		.footer {
			align-items: center;
			justify-content: flex-end;
		}

		.updated {
			margin-inline-end: auto;
		}

		.price {
			color: var(--wa-color-yellow);
			font-weight: var(--wa-font-weight-bold);

			&.--old {
				font-size: var(--wa-font-size-xs);
				color: var(--wa-color-text-quiet);
				text-decoration: line-through;
			}

			&.--sale {
				color: var(--wa-color-green);
			}
		}
	}
</style>
