---
import VotanSubhead from "../VotanSubhead.astro";
import ItemGrid from "./_ItemGrid.astro";
---

<section id="forSale">
	<div class="shop-container wa-stack wa-gap-xl">
		<hgroup class="shop-hgroup">
			<h1>For Sale</h1>
			<VotanSubhead castithan="ForSale" irathient="forsale" />

			<p>Our bespoke collection of weapons and mods are reasonably priced, are <s class="wa-caption-l">mostly</s> blood-free, and come with a 30-minute warranty.</p>
		</hgroup>

		<slot />

		<ItemGrid />
	</div>
</section>
