---
import VotanSubhead from "../VotanSubhead.astro";
import ItemGrid from "./_ItemGrid.astro";
---

<section id="forSale">
	<div class="shop-container wa-stack wa-gap-xl">
		<hgroup class="shop-hgroup">
			<h1>For Sale</h1>
			<VotanSubhead castithan="ForSale" irathient="forsale" />

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, ut delectus? In enim ratione ullam temporibus necessitatibus ab perspiciatis, dolores repellendus quibusdam officia ipsum ipsa sed. Debitis nemo eveniet odit?</p>
		</hgroup>

		<slot />

		<ItemGrid />
	</div>
</section>
