---
import Logo from "../../assets/images/logo.svg";
import Settings from "./_Settings.astro";
---

<header class="shop-header">
	<div class="shop-container wa-split">
		<Logo class="logo" />
		<Settings />
	</div>
</header>

<style scoped>
	.shop-header {
		position: relative;
		padding-block: var(--wa-space-m);

		.logo {
			width: 6rem;
		}
	}
</style>
