body {
	display: flex;
	flex-direction: column;
}

body > main {
	display: flex;
	flex-direction: column;
	margin-block: var(--wa-space-3xl);
	gap: var(--wa-space-3xl);

	> * {
		margin-block: 0;
	}
}

.shop-container {
	padding-inline: var(--shop-content-gutter);
	margin-inline: auto;
	max-width: var(--shop-content-width);
	width: 100%;
}

.shop-hgroup {
	display: flex;
	flex-direction: column;
	gap: var(--wa-space-xs);
	margin-inline: auto;
	max-width: var(--shop-content-width-narrow);
	width: 100%;
	text-align: center;
	justify-content: flex-start;

	> * {
		margin-block: 0;
	}
}

/* Alien scripts. */
.font-castithan {
	font-family: var(--font-castithan);
	font-style: normal;
	font-weight: normal;
}

.font-irathient {
	font-family: var(--font-irathient);
	font-style: normal;
	font-weight: normal;
}
