html {
	background-color: var(--wa-color-surface-default);
	background-image: var(--shop-noise-image);
	background-size: var(--shop-noise-size);
}

body {
	display: flex;
	flex-direction: column;
}

body > main {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding-block: var(--wa-space-3xl);
	gap: var(--wa-space-3xl);
	background-color: var(--wa-color-surface-default);
	background-image: var(--shop-noise-image);
	background-size: var(--shop-noise-size);
	box-shadow: var(--wa-shadow-l);

	> * {
		margin-block: 0;
	}
}

.icon {
	display: inline-block;
	box-sizing: content-box !important;
	width: auto;
	height: 1em;
}

.shop-container {
	padding-inline: var(--shop-content-gutter);
	margin-inline: auto;
	max-width: var(--shop-content-width);
	width: 100%;
}

.shop-hgroup {
	display: flex;
	flex-direction: column;
	gap: var(--wa-space-xs);
	margin-inline: auto;
	max-width: var(--shop-content-width-narrow);
	width: 100%;
	text-align: center;
	justify-content: flex-start;
	text-wrap: balance;

	> * {
		margin-block: 0;
	}
}

/* Alien scripts. */
.font-castithan {
	font-family: var(--font-castithan);
	font-style: normal;
	font-weight: normal;
}

.font-irathient {
	font-family: var(--font-irathient);
	font-style: normal;
	font-weight: normal;
}
