:root {
	/* WA overrides. */
	--wa-font-family-body: var(--font-exo);
	--wa-font-family-heading: var(--font-montserrat);
	--wa-font-weight-bold: 700;

	/* Custom variables. */
	--shop-content-width: 75rem;
	--shop-content-width-narrow: 40rem;
	--shop-content-gutter: var(--wa-space-xl);
	--shop-noise-image: url("../images/noise.webp");
	--shop-noise-size: 8rem;
}
