---
interface Props {
	author: string;
}

const { author, ...props } = Astro.props;
---

<div class="wa-callout wa-neutral wa-stack wa-gap-m" {...props}>
	<p class="shop-testimonial-content">
		<slot />
	</p>

	<p class="shop-testimonial-author wa-caption-m">{author}</p>
</div>

<style scoped>
	.wa-callout {
		background-image: var(--shop-bg-dots-image);
		background-size: var(--shop-bg-dots-size);
		background-position: center;
	}

	.shop-testimonial-content {
		margin-block: auto;

		&::before {
			content: '"';
		}

		&::after {
			content: '"';
		}
	}

	.shop-testimonial-author {
		text-align: end;
		font-weight: var(--wa-font-weight-semibold);
	}
</style>
