<section id="how-it-works">
	<hgroup class="shop-hgroup">
		<h2>How It Works</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est, blanditiis quibusdam libero qui repellendus velit beatae quis fuga doloribus ratione repudiandae cupiditate natus tenetur laborum quaerat, illo officia maiores.</p>
	</hgroup>
</section>
