#testimonials {
	position: relative;
	padding-block: var(--wa-space-3xl);
	background-color: var(--wa-color-surface-lowered);

	.shop-testimonial-content {
		margin-block: auto;

		&::before {
			content: '"';
		}

		&::after {
			content: '"';
		}
	}

	.shop-testimonial-author {
		text-align: end;
	}
}
