---
import VotanSubhead from "../VotanSubhead.astro";
import Testimonial from "./_Testimonial.astro";
---

<section id="testimonials">
	<div class="shop-container wa-stack wa-gap-xl">
		<hgroup class="shop-hgroup">
			<h2>Testimonials</h2>
			<VotanSubhead castithan="Testimonials" irathient="testimonials" />
			<p>See what some of our valued customers have to say!</p>
		</hgroup>

		<div class="wa-grid wa-justify-center">
			<Testimonial author="Varus Soleptor">
				An acceptable piece of gear. You're behind on rent.
			</Testimonial>

			<Testimonial author="Steve the Smelter">
				Ahhhhh! Ahhhhh! It burns, it burns!
			</Testimonial>

			<Testimonial author="Gyase Isara">
				<span class="font-irathient">this kit was junk, when i find you i'm going to take my scrip back then force every last piece down your throat until you choke.</span>
			</Testimonial>
		</div>
	</div>
</section>
