---
import Testimonial from "./_Testimonial.astro";

import "./Testimonials.css";
---

<section id="testimonials">
	<div class="shop-container wa-stack wa-gap-xl">
		<hgroup class="shop-hgroup">
			<h2>Testimonials</h2>
			<p>See what some of our valued customers have to say!</p>
		</hgroup>

		<div class="wa-grid wa-justify-center">
			<Testimonial author="Raider 1">
				Ahhhhh, my spine!
			</Testimonial>
			<Testimonial author="Raider 2">
				Ahhhhh, my spine!
			</Testimonial>
			<Testimonial author="Raider 3">
				Ahhhhh, my spine!
			</Testimonial>
		</div>
	</div>
</section>
