---
import FrontNavigation from "@/components/sections/FrontNavigation.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import WhereToFindMe from "@/components/sections/WhereToFindMe.astro";
import Shop from "@/components/shop/Shop.astro";
import BaseLayout from "@/layouts/Front.astro";
---

<BaseLayout>
	<FrontNavigation />

	<Shop>
		<div class="wa-callout">
			<strong>Relaunch sale!</strong> 10% off T4 mods. Lasts until May 5th.
		</div>
	</Shop>

	<WhereToFindMe />
	<Testimonials />
</BaseLayout>
