---
import BaseLayout from "../layouts/Front.astro";
---

<BaseLayout>
	<h1>Astro</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, ut delectus? In enim ratione ullam temporibus necessitatibus ab perspiciatis, dolores repellendus quibusdam officia ipsum ipsa sed. Debitis nemo eveniet odit?</p>
</BaseLayout>
