---
import Logo from "./Logo.svg";
import Settings from "./_Settings.astro";

import "./Header.css";
---

<header class="shop-header">
	<div class="shop-container wa-split">
		<Logo class="logo" />
		<Settings />
	</div>
</header>
