---
interface Props {
	value: number;
}

const { value, ...props } = Astro.props;
---

<span data-scrip {...props}>
	<span class="symbol" aria-hidden="true">Sc</span>
	<span>&ThickSpace;{value}</span>
	<span class="wa-visually-hidden">scrip</span>
</span>

<style scoped>
	[data-scrip] {
		display: inline-flex;
	}

	/* Tweak to match font. */
	.symbol {
		letter-spacing: -0.2em;
	}
</style>
