---
interface Props {
	value: number;
}

const { value, ...props } = Astro.props;

const formattedValue = value
	.toLocaleString("en-US", { useGrouping: true })
	.replaceAll(",", "\u2009");
---

<span data-scrip {...props}>
	<span class="symbol" aria-hidden="true">Sc</span>
	<span aria-label={value}>&ThickSpace;{formattedValue}</span>
	<span class="wa-visually-hidden">scrip</span>
</span>

<style scoped>
	[data-scrip] {
		display: inline-flex;
	}

	/* Tweak to match font. */
	.symbol {
		letter-spacing: -0.2em;
	}
</style>
