---
interface Props {
	castithan: string;
	irathient: string;
}

const { castithan = "", irathient = "" } = Astro.props;
---

<div class="subhead wa-body-l" aria-hidden="true">
	<span class="font-castithan">{castithan}</span>
	<span class="divider">/</span>
	<span class="font-irathient">{irathient}</span>
</div>

<style scoped>
	.subhead {
		.divider {
			color: var(--wa-color-text-quiet);
		}
	}
</style>
