---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "./Base.astro";

const { title, ...props } = Astro.props;
---

<BaseLayout title={title}>
	<Header />

	<main class="wa-stack wa-gap-3xl">
		<slot />
	</main>

	<Footer />
</BaseLayout>
