---
import Footer from "@/components/shell/Footer.astro";
import Header from "@/components/shell/Header.astro";
import { default as BaseLayout, type Props as BaseProps } from "./Base.astro";

interface Props extends BaseProps {}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<Header />

	<main>
		<div class="shop-container">
			<section class="minimal wa-body-m">
				<slot />
			</section>
		</div>
	</main>

	<Footer />
</BaseLayout>

<style scoped>
	.minimal {
		position: relative;
		padding: var(--wa-space-m);
		margin-block-end: var(--shop-content-gutter);
		background-color: var(--wa-color-surface-raised);
		border: var(--wa-border-width-s) solid var(--wa-color-surface-border);
		border-radius: var(--wa-border-radius-s);
		box-shadow: var(--wa-shadow-l);

		> *:first-child {
			margin-block-start: 0;
		}

		> *:last-child {
			margin-block-end: 0;
		}
	}
</style>
